
 body{
    font-family: 'Droid Sans', sans-serif;
}


.flip-container {
    perspective: 1000;
}
/* flip the pane when hovered */
 .flip-go .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}
.flip-container, .front, .back {
    width: 320px;
    height: 480px;
}
/* flip speed goes here */
 .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
/* hide back of pane during swap */
 .front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
/* front pane, placed above back */
 .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}
/* back, initially hidden pane */
 .back {
    transform: rotateY(180deg);
}

body {
    font-family:Helvetica;
    background: 
}
ul {
    padding:0;
    margin:0;
}
input {
    font-size:15px;
    padding:5px;
    border:2px solid grey;
    margin:5px 5px;
}
#submit{
    margin:15px 15px;
    background:none;
    cursor:pointer;
    width:200px;
    border-left: 2px solid #5bc0de;
}

#email-address {
    width:353px;
}
.form-group {
    padding-left:10px;
    border-left:2px solid #FFF;
    margin-top:5px;
}
.name {
    border-left: 2px solid #5bc0de;
}
.email-address {
    border-left: 2px solid #FF851B;
}

.phone-number {
    border-left: 2px solid #000000;
}
.form-errors {
    list-style:none;
}
.form-error {
    border-left: 2px solid red;
    padding-left:10px;
    margin-top:3px;
}

#message{
   border-left: 2px solid #000000;
   font-size:15px;
    padding:5px;
    border:2px solid grey;
    margin:5px 5px;
}


.flip-container:onclick .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
    transform: rotateY(180deg);
}


.form-errors {
    list-style:none;
}
.form-error {
    border-left: 2px solid red;
    padding-left:10px;
    margin-top:3px;
}

